@import "../../styles/amountStyless.scss";

.text-label {
  @include textNormal;
  @include text16;
}

/* установим отступ 1rem от нижнего края элемента */
.text-field {
  margin-bottom: 1rem;
}
/* стили для label */
.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
}
/* стили для input */
.text-field__input {
  @include textNormal;
  @include text18;
  color: $dark-gray;
  display: block;
  width: 100%;
  height: calc(4rem + 2px);
  padding: 1rem;
  border: none;
  background-color: $extralight-gray;
  border-radius: $border-radius;
}

.text-field__input::placeholder {
  @include textNormal;
  opacity: 0.4;
}

.text-field__input:focus {
  @include textNormal;
  @include text18;
  outline: 0;
  border: 2px solid $mid-gray;
}
