@import "../../styles/amountStyless.scss";
@import "../../App.scss";

.form {
  h2 {
    @include headline;
    @include headline2;
    margin-top: 5rem;
    margin-bottom: 2rem;
    @include md {
      @include headline4;
    }
  }
  @include center;
  max-width: 50%;
  @include lg {
    max-width: 90%;
  }
  @include md {
    max-width: 90%;
  }
  @include sm {
    max-width: 90%;
  }

  .form__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    text-align: start;
    margin-bottom: 5rem;
    @include lg {
      @include center-mobile;
    }

    @include md {
      display: flex;
      flex-direction: column;
    }
    @include sm {
      display: flex;
      flex-direction: column;
    }
    input {
      width: 100%;
    }

    .input {
      display: flex;
      position: relative;
      padding-left: 1rem;
      width: 100%;
      height: 4rem;
      background-color: $extralight-gray;
      color: $dark-gray;
      label {
        display: none;
      }
      .name-error {
        @include textNormal;
        @include text12;
        color: $gray;
        position: absolute;
        top: 4rem;
        left: 0;
      }
      input {
        @include textNormal;
      }
    }
    .input__name-active {
      height: 4rem;
      background-color: $white;
      border: 2px solid $mid-gray;
      color: $black;
      border-radius: $border-radius;
      margin-left: 1rem;

      .name-error {
        display: none;
      }

      label {
        @include textNormal;
        @include text14;
        color: $gray;
        position: absolute;
        padding-left: 1rem;
      }
      input {
        @include textNormal;
        @include text18;
        color: $black;
        position: relative;
        top: 1rem;
        left: 1rem;
        height: 2rem;
        width: 100%;
      }
    }

    .input__phone-disactive {
      position: relative;
      @extend .input;
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .phone-error-text {
        @extend .name-error;
      }
      .error-phone-icon {
        position: absolute;
        right: 1rem;
        top: 34%;
        width: 1.25rem;
        height: 1.25rem;
        background-image: url("../../styles/icons/error.svg");
        background-size: cover;
        background-position: center;
      }
    }

    .input__phone-active {
      width: 100%;
      @extend .input__name-active;
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .phone-error-text {
        display: none;
      }
    }
    .checkbox {
    }
    .button {
      background-color: $primary;
      h5 {
        color: $white;
      }
    }
  }
}
