@import "../../styles/amountStyless.scss";

.card {
  text-align: start;
  max-width: 17.5rem;
  .subtitle {
    p {
      @include headline;
      @include headline6;
    }
  }
  .text {
    p {
      @include textNormal;
      @include text14;
      color: $dark-gray;
    }
  }
}

.wrapper__card {
  border-radius: 0.5rem;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
  margin-right: 2rem;
  height: 17rem;
  max-width: 22rem;
  overflow: hidden;
  .card__reviews {
    text-align: start;
    padding: 1.38rem 1.38rem 0 1.38rem;
    height: 100%;
    background-color: white;
    .icon__reviews {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;
      img {
        width: 2.75rem;
        height: 2.75rem;
      }
    }
    .subtitle__reviews {
      p {
        @include headline;
        @include headline6;
      }
      span {
        @include textNormal;
        @include text12;
        color: $mid-gray;
      }
    }
    .text__reviews {
      p {
        @include textNormal;
        @include text14;
        color: $dark-gray;
        margin-top: 1.25rem;
      }
    }
  }
}
