@import "../styles/amountStyless.scss";
@import "../App.scss";

.main {
  position: relative;
  top: 42rem;
  overflow: hidden;
  @include sm {
    top: 28rem;
  }
  .howItsWork {
    @include center;

    @include lg {
      @include center-mobile;
    }
    @include md {
      @include center-mobile;
    }
    @include sm {
      @include center-mobile;
    }

    @include center;
    .howItsWork__title {
      h2 {
        @include headline;
        @include headline2;
      }
    }
    .cards {
      display: flex;
      margin-top: 3.7rem;
      gap: 2rem;
      @include lg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        margin-top: 2.6rem;
      }
      @include md {
        display: flex;
        flex-direction: column;
      }
      @include sm {
        display: flex;
        flex-direction: column;
      }
      .card {
        @include lg {
          display: flex;
        }
        @include md {
          display: flex;
        }
        @include sm {
          display: flex;
        }
        .icon {
          @include lg {
            display: contents;
          }
          @include md {
            display: contents;
          }
          @include sm {
            display: contents;
          }
          img {
            width: 4.5rem;
            @include lg {
              width: 3.5rem;
              margin-right: 1rem;
            }
            @include md {
              width: 2.5rem;
              margin-right: 1rem;
            }
            @include sm {
              width: 2.5rem;
              margin-right: 1rem;
            }
          }
        }
        .card__info {
          max-width: 17rem;
        }
      }
    }
  }

  .thirdBlock {
    @include lg {
      @include center-mobile;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
    @include md {
      display: flex;
      flex-direction: column-reverse;
      @include center-mobile;
    }
    @include sm {
      display: flex;
      flex-direction: column-reverse;
      @include center-mobile;
    }
    @include center;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;

    .thirdBlock__description {
      text-align: left;
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 50%;
      margin-bottom: 1rem;
      @include lg {
        text-align: left;
      }
      @include md {
        text-align: center;
        max-width: 100%;
      }
      @include sm {
        text-align: center;
        max-width: 100%;
      }

      p {
        @include textNormal;
        @include text16;
        color: $dark-gray;
        @include lg {
        }
      }

      .thirdBlock__description--title {
        @include md {
          text-align: center;
        }
        h3 {
          @include headline;
          @include headline3;
          @include lg {
            @include headline5;
          }
        }
      }
    }
    .thirdBlock__image {
      position: relative;
      padding-top: 2rem;
      .image1 {
        position: relative;
        z-index: 2;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .image2 {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .reviews {
    width: 100vw;
    padding-top: 2.5rem;
    margin-bottom: 2.81rem;
    background-color: $extralight-gray;
    height: 34rem;
    .reviews__title {
      h2 {
        @include headline;
        @include headline2;
      }
      margin-bottom: 2rem;
    }
    .carousel {
      @include center;
      @include xl {
        max-width: 80%;
      }
      @include lg {
        @include center-mobile;
      }
      @include md {
        @include center-mobile;
      }
      @include sm {
        @include center-mobile;
      }
    }
  }
  .qa {
    @include center;
    max-width: 52.5%;
    margin-top: 5rem;
    margin-bottom: 9rem;

    @include lg {
      @include center-mobile;
    }
    @include md {
      @include center-mobile;
    }
    @include sm {
      @include center-mobile;
    }
    .qa__title {
      @include headline;
      @include headline2;
    }
  }
}

.info {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $extralight-gray;
  .info__wrapper {
    @include center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    text-align: start;
    @include lg {
      display: block;
      @include center-mobile;
    }
    @include md {
      display: block;
      @include center-mobile;
    }
    @include sm {
      display: block;
      @include center-mobile;
    }
    .info__container {
      .info__title {
        @include textBold;
        @include text18;
        margin-bottom: 1rem;
        @include lg {
          margin-bottom: 2.88rem;
        }
      }
      .info__text {
        @include textNormal;
        @include text16;
        @include lg {
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}
