@import "../../styles/amountStyless.scss";

.container {
  width: 100%;
  padding: 1.75rem 1rem;
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      @include textNormal;
      @include text18;
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      left: -100%;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      background-color: white;
      z-index: 2;
      transition: left 1s;

      li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        color: gray;
        border-top: 1px solid $extralight-gray;
        cursor: pointer;
        a {
          color: inherit;
        }
        .arrow {
          width: 1.5rem;
          height: 1.5rem;
          background-image: url("../../styles/icons/arrow-menu.svg");
        }
      }
    }
    .active {
      color: black;

      left: 0;
    }
    .mobile__btn {
      position: absolute;
      right: 1rem;
      cursor: pointer;
      z-index: 10;
    }
    .logo__image {
      position: absolute;
      left: 1rem;
      display: flex;
      gap: 0.55rem;
      z-index: 10;
      h5 {
        color: $white;
      }
    }
  }
}
