@import "../../styles/amountStyless.scss";
@import "../../App.scss";

.faq__container {
  max-width: 63rem;
  h2 {
    @include headline;
    @include headline2;
    margin-bottom: 4rem;
    @include sm {
      @include headline4;
      margin-bottom: 2rem;
    }
  }

  .accordion__faq {
    .accordoin__faq-heading {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-top: 1px solid $extralight-gray;
      border-bottom: 1px solid $extralight-gray;
      @include sm {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      p {
        @include text18;
        @include textBold;
      }
      .accordion__faq-icon {
        width: 1.5rem;
      }
    }
    .accordoin__faq-heading:hover {
      p {
        color: $primary;
      }
    }

    .accordion__faq-answer {
      .active {
        @include textNormal;
        @include text18;
        color: $mid-gray;
        text-align: left;
        border-top: 2px solid white;
        position: relative;
        top: -2px;
        max-width: 60rem;
        @include sm {
          @include text16;
        }
      }
    }

    .inactive {
      display: none;
    }
  }
}
